[submodule "ReadingTomBookService"]
	path = ReadingTomBookService
	url = https://github.com/pandiaaman/ReadingTomBookService.git
[submodule "quizApiGateway"]
	path = quizApiGateway
	url = https://github.com/pandiaaman/quizApiGateway.git
[submodule "ReadingTomBarcodeVerificationService"]
	path = ReadingTomBarcodeVerificationService
	url = https://github.com/pandiaaman/ReadingTomBarcodeVerificationService.git
[submodule "quizServiceRegistry"]
	path = quizServiceRegistry
	url = https://github.com/pandiaaman/quizServiceRegistry.git
